@import "bootstrap/bootstrap";
@import "my/movielist";

body {
  padding-top: 60px;
  font: 15px Helvetica,Arial,sans-serif;
}
h2{
  word-wrap: break-word;
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #494949;
  line-height: 1.1;
}

.movie-list{
  border: double;
  margin: 5px;
  padding: 5px;
  img{
    width:101px;
    height:150px;
  }
}

.fileUpload{
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 30px;
  background-color: #FFFF00;
  color: #000;
  text-align: center;
  display: block;
}

